/* Google fonts */
:root{
  --primary-bg:rgba(245, 239, 251, 0.666);
}


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-color:#758bc230;
  
  font: 400;
  /* background-image: url(../assets/images/background/pglwd6pq.png); */
}


#banner {
  position: relative;
  height: 420px !important;
  background: url(../assets/images/bg-cover-2.png);
  background-size: cover;
  background-position: center;
}
.icon {
  width: 20px;
  height: 20px;
}
.bg-navbar {
  background-color: #758BC2;
}

.text-justify {
  text-align: justify;
}

.sm-icon{
  width: 32px;
}


hr {
  border: none;
  border-top: 3px solid #000; /* Adjust thickness and color as needed */
  margin: 10px 0; /* Add some margin to separate it from other content */
}

.project{
  max-height: 450px !important;
  overflow-y: auto;
}

.link-unstyled{
  text-decoration: none;
}

.main-wrapper{
  height: 10000px !important;
}

/* footer{
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;

} */
.frosted{
  background-color: rgba(206, 210, 217, 0.743);
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 360px) {
  #banner {
    height: 250px;
  }
  .personal-info{
    top:-125px;
  }

}
@media screen and (max-width: 560px) {
  #banner {
    height: 290px !important;
  }
  .personal-info{
    top:-120px;
  }

  .certificate-logo{
    width: 100px;
  }
  
  #hero-img{
    background-color: none;
    width: 180px;
  }
  
}

.text-justified{
  text-align: justify;
}

@media screen and (min-width: 660px) {
  .personal-info{
    border-radius: 10px;
    background-color: var(--primary-bg);
    backdrop-filter: blur(10px);
    top:-100px;
  }
  #hero-img{
    background-color: none;
    width: 180px;
  }
}

