/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(254, 234, 217, 0.128);
  font: 400;
  /* background-image: url(../assets/images/background/pglwd6pq.png); */
}

#banner {
  position: relative;
  height: 150px;
  background: url(../assets/images/walpy_1673443732241.jpg);
  background-size: cover;
  background-position: center;
}
.icon {
  width: 20px;
  height: 20px;
}
.bg-navbar {
  background-color: rgba(100, 148, 237, 0.274);
}

.bg-main {
  background-color: rgb(255, 254, 254);
}

.text-justify {
  text-align: justify;
}


@media screen and (max-width: 360px) {
  #banner {
    height: 150px;
  }
}
@media screen and (max-width: 560px) {
  #banner {
    height: 100px;
  }
}
@media screen and (min-width: 660px) {
  .personal-info {
    width: 100%;
  }
  .top-50 {
    top: 130% !important;
  }
}

hr {
  border: none;
  border-top: 3px solid #000; /* Adjust thickness and color as needed */
  margin: 10px 0; /* Add some margin to separate it from other content */
}

.project{
  max-height: 450px !important;
  overflow-y: auto;
}

.link-unstyle{
  text-decoration: none;
}
